.chart .chart-series-line {
    -fx-stroke-width: 1px;
    -fx-stroke: transparent;
}

.chart .chart-series-line {
    -fx-stroke: red;
}

.chart .chart-line-symbol {
    -fx-background-color: transparent, transparent;
}